.cursor {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Prevent interaction bugs */
  will-change: transform, width, height;
}
